img{
  background-image: image();
}
.green{
  button color: green;
}
body{
  text-align: center;
  font-size: 30px;
  background-image: url("../image/images4.jpeg");
}
.player1{
  text-align: center;
  }
.player2 {
  text-align: center;
  }
